{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Lista de unidades</div>
            <div class="panel-body">
                <div class="bottom-space">
                    <a class="btn btn-success" href="{{ path('unidades_new') }}"><i class="fa fa-plus"></i> Crear nueva unidad</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for userUnit in userUnits %}
                            <tr>
                                <td>{{ userUnit.code }}</td>
                                <td>{{ userUnit.description }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm"
                                       href="{{ path('unidades_edit', { 'id': userUnit.id }) }}"><i class="fa fa-edit"></i> Editar</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
