{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1><i class="fa fa-plus"></i> Nueva Unidad</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">Crear</button>
        </div>
    </div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('unidades_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}
