{% extends 'base.html.twig' %}

{% block body %}
    <h1>Docnumber creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary">Crear</button>
        </div>
    </div>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('series-documento_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
