{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Lista de Hierarchies</div>
            <div class="panel-body">
                <div class="bottom-space">
                    <a class="btn btn-success" href="{{ path('hierarchy_new') }}"><i class="fa fa-plus"></i> Crear nuevo Hierarchy</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hierarchy in hierarchies %}
                            <tr>
                                <td>{{ hierarchy.code }}</td>
                                <td>{{ hierarchy.description }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm"
                                       href="{{ path('hierarchy_show', { 'id': hierarchy.code }) }}"><i class="fa fa-eye"></i> Ver</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
